<!DOCTYPE html >

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<section >

<div class="sidenav">
         <div class="login-main-text">
            <h2>Application<br> Login Page</h2>
            <p>Login or register from here to access.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form ">
            
               <form th:action="@{/otp-verification}" method = "post">
                  <div class="form-group">
                                      <div class="mb-2" th:if="${session.message}" >
                                      <div class="alert" th:classappend="${session.message.type}"  role = "alert" th:text = "${session.message.message}"></div>
                    
                    </div>
                </div>
                  <div class = "mb-2">
                     <label>Enter OTP</label>
                     <input required="required" type="text" class="form-control" placeholder="enter OTP here"  name="OTP">
                  </div>
       
                 
                  <button type="submit" class="btn btn-success">Verify</button>
                  
               </form>
               
       
            </div>
         </div>
      </div>
</section>
</body>
</html>